<div id="startbtndiv"><a class="button  button-dark " id="start" ng-click="start(); $event.stopPropagation();"> Start Lesson </a></div>
<div id="content">
    <ng-include src= "pagenumber"></ng-include>
    
    <input type="text" id="totalpages" ng-value="7"></input>
    <div id="or_text" >or</div>
    <div id="incorrect_text" >incorrect</div>
    
    <ion-spinner class= "spinner-dark" id="spinner" ></ion-spinner>
    
    
</div>
<script type="text/ng-template" id="page1">
    <h1 class= "textclass" id="pagetext1">We use energy when we walk, speak, read, write, or think.</h1> <h1 class= "textclass" id="pagetext2">Everything we do uses energy.</h1>
    <h1 class= "textclass" id="pagetext3">Energy is the ability to do work.</h1>
    <div class="row">
    <div class="col page_img_col"><img class ="page_img" ng-src="{{imgsrc}}energy_page1.jpg"/></div
    </script>

<script type="text/ng-template" id="page2">
    <h1 class= "textclass" id="pagetext1">Objects around us use energy too.</h1><h1 class= "textclass" id="pagetext2">Bicycle uses energy to move and oven uses energy to cook.</h1>
    <div class="row">
    <div class="col page_img_col"><img class ="page_img" src="{{imgsrc}}energy_page2.jpg"/></div>
    </script>

<script type="text/ng-template" id="page3">
    <h1 class= "textclass" id="pagetext1">When a person or object moves, they use kinetic energy.</h1>
    <h1 class= "textclass" id="pagetext2">Kinetic energy is energy of movement.</h1>
    <div class="row">
    <div class="col page_img_col"><img class ="page_img" src="{{imgsrc}}energy_page3.jpg"/></div>
    </script>

<script type="text/ng-template" id="page4">
    <h1 class= "textclass" id="pagetext1">When we get tired our energy becomes low.</h1><h1 class= "textclass" id="pagetext2">Food has energy stored in it. It is called chemical energy.</h1>
    <h1 class= "textclass" id="pagetext3">We get our energy from the chemical energy of food.</h1>
    <div class="row">
    <div class="col page_img_col"><img class ="page_img" src="{{imgsrc}}energy_page4.jpg"/></div>
    </script>

<script type="text/ng-template" id="page5">
    <h1 class= "textclass" id="pagetext1">But how does plants get their energy to give us food?</h1>
    <h1 class= "textclass" id="pagetext2">Plants get their energy from sun's heat and light.</h1>
    <h1 class= "textclass" id="pagetext3">The energy from sun is called solar energy.</h1>
    <div class="row">
    <div class="col page_img_col"><img class ="page_img" src="{{imgsrc}}energy_page5.jpg"/></div>
    </script>
<script type="text/ng-template" id="page6">
    <h1 class= "textclass" id="pagetext1">How do machines get their energy?</h1>
    <h1 class= "textclass" id="pagetext2">Many machines get energy from electricity, called electric  energy.</h1>
    <h1 class= "textclass" id="pagetext3">Electric energy can be made from sun, wind, water or coal.</h1>
    <div class="row">
    <div class="col page_img_col"><img class ="page_img" src="{{imgsrc}}energy_page6.jpg"/></div>
    </script>



<script type="text/ng-template" id="page1_question">
    <h1 id="pagetext">What do we need to do everything?</h1>
    <div class="row">
    <div class="col"><button class=" choiceitem" id="choice1" ng-disabled="answerattempted" ng-click='answerQuestion("#choice1", true)'>Energy
    <i class= "icon-right ion-checkmark-circled balanced" id="correctsign"></i></button>
    </div>
    <div class="col"><button class=" choiceitem" id="choice2" ng-disabled="answerattempted" ng-click='answerQuestion("#choice2", false)'>iPad
    <i class="icon-right ion-close-circled assertive" id="incorrectsign"></i></button>
    </div>
    </div>
    </script>

<script type="text/ng-template" id="page2_question">
    <h1 id="pagetext">Do objects need energy?</h1>
    <div class="row">
    <div class="col"><button class=" choiceitem" id="choice1" ng-disabled="answerattempted" ng-click='answerQuestion("#choice1", true)'>Yes
    <i class= "icon-right ion-checkmark-circled balanced" id="correctsign"></i>
    </button>
    </div>
    <div class="col"><button class=" choiceitem" id="choice2" ng-disabled="answerattempted" ng-click='answerQuestion("#choice2", false)'>No
    <i class="icon-right ion-close-circled assertive" id="incorrectsign"></i>
    </button>
    </div>
    </div>
    </script>

<script type="text/ng-template" id="page3_question">
    <h1 id="pagetext">When something moves it uses</h1>
    <div class="row">
    <div class="col"><button class=" choiceitem" id="choice1" ng-disabled="answerattempted" ng-click='answerQuestion("#choice1", false)'>Chemical energy
    <i class="icon-right ion-close-circled assertive" id="incorrectsign"></i></button></div>
    <div class="col"><button class=" choiceitem" id="choice2" ng-disabled="answerattempted" ng-click='answerQuestion("#choice2", true)'>Kinetic energy
    <i class= "icon-right ion-checkmark-circled balanced" id="correctsign"></i></button></div>
    </div>
    </script>

<script type="text/ng-template" id="page4_question">
    <h1 id="pagetext">Does food have energy?</h1>
    <div class="row">
    <div class="col"><button class=" choiceitem" id="choice1" ng-disabled="answerattempted" ng-click='answerQuestion("#choice1", true)'>Yes
    <i class= "icon-right ion-checkmark-circled balanced" id="correctsign"></i></button></div>
    <div class="col"><button class=" choiceitem" id="choice2" ng-disabled="answerattempted" ng-click='answerQuestion("#choice2", false)'>No
    <i class="icon-right ion-close-circled assertive" id="incorrectsign"></i></button></div>
    </div>
    </script>

<script type="text/ng-template" id="page5_question">
    <h1 id="pagetext">Plants use energy from the </h1>
    <div class="row">
    <div class="col"><button class=" choiceitem" id="choice1" ng-disabled="answerattempted" ng-click='answerQuestion("#choice1", false)'>Batteries
    <i class="icon-right ion-close-circled assertive" id="incorrectsign"></i></button></div>
    <div class="col"><button class=" choiceitem" id="choice2" ng-disabled="answerattempted" ng-click='answerQuestion("#choice2", true)'>Sun
    <i class= "icon-right ion-checkmark-circled balanced" id="correctsign"></i></button></div>
    </div>
    </script>
<script type="text/ng-template" id="page6_question">
    <h1 id="pagetext">Machines get their energy from </h1>
    <div class="row">
    <div class="col"><button class=" choiceitem" id="choice1" ng-disabled="answerattempted" ng-click='answerQuestion("#choice1", false)'>Food
    <i class="icon-right ion-close-circled assertive" id="incorrectsign"></i></button></div>
    <div class="col"><button class=" choiceitem" id="choice2" ng-disabled="answerattempted" ng-click='answerQuestion("#choice2", true)'>Electricity
    <i class= "icon-right ion-checkmark-circled balanced" id="correctsign"></i></button></div>
    </div>
    </script>

<script type="text/ng-template" id="page7">
    <div id="quizpage">
    <a class="button button-clear" on-release="startQuiz()">
    <img ng-src="img/icon_quiz.jpg"/>
    </a>
    </div>
    </script>


