<div id="startbtndiv"><a class="button  button-dark " id="start" ng-click="start(); $event.stopPropagation();"> Start Lesson </a></div>
<div id="content">
    <ng-include src= "pagenumber"></ng-include>
    
    <input type="text" id="totalpages" ng-value="6"></input>
    <div id="or_text" >or</div>
    <div id="incorrect_text" >incorrect</div>
    
    <ion-spinner class= "spinner-dark" id="spinner" ></ion-spinner>
    
    
</div>
<script type="text/ng-template" id="page1">
    <h1 class= "textclass" id="pagetext1">A citizen is a person who lives in a certain place - city, state, or country.</h1> <h1 class= "textclass" id="pagetext2">Good citizens make there surroundings a better place.</h1>

    <div class="row">
    <div class="col page_img_col"><img class ="page_img" ng-src="{{imgsrc}}citizens_page1.jpg"/></div
    </script>

<script type="text/ng-template" id="page2">
    <h1 class= "textclass" id="pagetext1">Good citizens are friends with their neighbours and family members.</h1><h1 class= "textclass" id="pagetext2">They help their neighbours and people who need help.</h1>
    <h1 class= "textclass" id="pagetext3">They smile and show respect to others.</h1>

    <div class="row">
    <div class="col page_img_col"><img class ="page_img" src="{{imgsrc}}citizens_page2.jpg"/></div>
    </script>

<script type="text/ng-template" id="page3">
    <h1 class= "textclass" id="pagetext1">Good citizens also respect property.</h1>
    <h1 class= "textclass" id="pagetext2">This means they take care of their and other people's things.</h1>
    <div class="row">
    <div class="col page_img_col"><img class ="page_img" src="{{imgsrc}}citizens_page3.jpg"/></div>
    </script>

<script type="text/ng-template" id="page4">
    <h1 class= "textclass" id="pagetext1">Good citizens keep their surroundings clean.</h1><h1 class= "textclass" id="pagetext2">They throw garbage only in garbage bins.</h1>
    <div class="row">
    <div class="col page_img_col"><img class ="page_img" src="{{imgsrc}}citizens_page4.jpg"></div>
    </script>

<script type="text/ng-template" id="page5">
    <h1 class= "textclass" id="pagetext1">Good citizens follow rules and laws.</h1>
    <h1 class= "textclass" id="pagetext2">They follow the rules of family, school and their community.</h1>
    <h1 class= "textclass" id="pagetext3">This makes their surroundings safe, happy, and clean</h1>
    <div class="row">
    <div class="col page_img_col"><img class ="page_img" src="{{imgsrc}}citizens_page5.jpg"/></div>
    </script>


<script type="text/ng-template" id="page1_question">
    <h1 id="pagetext">Good citizens make their surroundings</h1>
    <div class="row">
    <div class="col"><button class=" choiceitem" id="choice1" ng-disabled="answerattempted" ng-click='answerQuestion("#choice1", true)'>good
    <i class= "icon-right ion-checkmark-circled balanced" id="correctsign"></i></button>
    </div>
    <div class="col"><button class=" choiceitem" id="choice2" ng-disabled="answerattempted" ng-click='answerQuestion("#choice2", false)'>bad
    <i class="icon-right ion-close-circled assertive" id="incorrectsign"></i></button>
    </div>
    </div>
    </script>

<script type="text/ng-template" id="page2_question">
    <h1 id="pagetext">What should you do when you meet your neighbour?</h1>
    <div class="row">
    <div class="col"><button class=" choiceitem" id="choice1" ng-disabled="answerattempted" ng-click='answerQuestion("#choice1", true)'>Smile
    <i class= "icon-right ion-checkmark-circled balanced" id="correctsign"></i></button>
    </div>
    <div class="col"><button class=" choiceitem" id="choice2" ng-disabled="answerattempted" ng-click='answerQuestion("#choice2", false)'>Fight
    <i class="icon-right ion-close-circled assertive" id="incorrectsign"></i></button>
    </div>
    </div>
    </script>

<script type="text/ng-template" id="page3_question">
    <h1 id="pagetext">Should you break other people's things?</h1>
    <div class="row">
    <div class="col"><button class=" choiceitem" id="choice1" ng-disabled="answerattempted" ng-click='answerQuestion("#choice1", false)'>Yes
    <i class="icon-right ion-close-circled assertive" id="incorrectsign"></i></button></div>
    <div class="col"><button class=" choiceitem" id="choice2" ng-disabled="answerattempted" ng-click='answerQuestion("#choice2", true)'>No
    <i class= "icon-right ion-checkmark-circled balanced" id="correctsign"></i></button></div>
    </div>
    </script>

<script type="text/ng-template" id="page4_question">
    <h1 id="pagetext">A good citizen throws garbage in</h1>
    <div class="row">
    <div class="col"><button class=" choiceitem" id="choice1" ng-disabled="answerattempted" ng-click='answerQuestion("#choice1", true)'>garbage bin
    <i class= "icon-right ion-checkmark-circled balanced" id="correctsign"></i></button></div>
    <div class="col"><button class=" choiceitem" id="choice2" ng-disabled="answerattempted" ng-click='answerQuestion("#choice2", false)'>road
    <i class="icon-right ion-close-circled assertive" id="incorrectsign"></i></button></div>
    </div>
    </script>

<script type="text/ng-template" id="page5_question">
    <h1 id="pagetext">Does following rules keep surroundings safe</h1>
    <div class="row">
    <div class="col"><button class=" choiceitem" id="choice1" ng-disabled="answerattempted" ng-click='answerQuestion("#choice1", false)'>No
    <i class="icon-right ion-close-circled assertive" id="incorrectsign"></i></button></div>
    <div class="col"><button class=" choiceitem" id="choice2" ng-disabled="answerattempted" ng-click='answerQuestion("#choice2", true)'>Yes
    <i class= "icon-right ion-checkmark-circled balanced" id="correctsign"></i></button></div>
    </div>
    </script>


<script type="text/ng-template" id="page6">
    <div id="quizpage">
    <a class="button button-clear" on-release="startQuiz()">
    <img ng-src="img/icon_quiz.jpg"/>
    </a>
    </div>
    </script>


