<div id="startbtndiv"><a class="button  button-dark " id="start" ng-click="start(); $event.stopPropagation();"> Start Lesson </a></div>
<div id="content">
    <ng-include src= "pagenumber"></ng-include>
    
    <input type="text" id="totalpages" ng-value="6"></input>
    <div id="or_text" >or</div>
    <div id="incorrect_text" >incorrect</div>
    
    <ion-spinner class= "spinner-dark" id="spinner" ></ion-spinner>
    
    
</div>
<script type="text/ng-template" id="page1">
    <h1 class= "textclass" id="pagetext1">What happens when you throw a ball in the air?</h1> <h1 class= "textclass" id="pagetext2">And what happens to a rollar coaster when it reaches the top?</h1>
    <h1 class= "textclass" id="pagetext3">The ball and the rollar coaster, both come down.</h1>

    <div class="row">
    <div class="col page_img_col"><img class ="page_img" ng-src="{{imgsrc}}gravity_page1.jpg"/></div
    </script>

<script type="text/ng-template" id="page2">
    <h1 class= "textclass" id="pagetext1">The ball and the roller coaster come down because of gravity.</h1><h1 class= "textclass" id="pagetext2">Gravity pulls everything towards earth.</h1>
    <div class="row">
    <div class="col page_img_col"><img class ="page_img" src="{{imgsrc}}gravity_page2.jpg"/></div>
    </script>

<script type="text/ng-template" id="page3">
    <h1 class= "textclass" id="pagetext1">Whatever goes up, must come down.</h1>
    <h1 class= "textclass" id="pagetext2">This is because gravity pulls everything towards the center of earth.</h1>
    <div class="row">
    <div class="col page_img_col"><img class ="page_img" src="{{imgsrc}}gravity_page3.jpg"/></div>
    </script>

<script type="text/ng-template" id="page4">
    <h1 class= "textclass" id="pagetext1">Gravity makes falling objects fall faster.</h1><h1 class= "textclass" id="pagetext2">Objects that are heavier fall faster than lighter objects.</h1>
    <div class="row">
    <div class="col page_img_col"><img class ="page_img" src="{{imgsrc}}gravity_page4.gif"/></div>
    </script>

<script type="text/ng-template" id="page5">
    <h1 class= "textclass" id="pagetext1">When a ball goes up, gravity pulls it down, and slows it.</h1>
    <h1 class= "textclass" id="pagetext2">So the ball stops and then falls back.</h1>
    <h1 class= "textclass" id="pagetext3">Gravity also makes us fall down when we slip on ground.</h1>
    <div class="row">
    <div class="col page_img_col"><img class ="page_img" src="{{imgsrc}}gravity_page5.jpg"/></div>
    </script>


<script type="text/ng-template" id="page1_question">
    <h1 id="pagetext">What happens when you throw up a ball in the air?</h1>
    <div class="row">
    <div class="col"><button class=" choiceitem" id="choice1" ng-disabled="answerattempted" ng-click='answerQuestion("#choice1", true)'>It falls down
    <i class= "icon-right ion-checkmark-circled balanced" id="correctsign"></i></button>
    </div>
    <div class="col"><button class=" choiceitem" id="choice2" ng-disabled="answerattempted" ng-click='answerQuestion("#choice2", false)'>It floats
    <i class="icon-right ion-close-circled assertive" id="incorrectsign"></i></button>
    </div>
    </div>
    </script>

<script type="text/ng-template" id="page2_question">
    <h1 id="pagetext">What pulls everything down?</h1>
    <div class="row">
    <div class="col"><button class=" choiceitem" id="choice1" ng-disabled="answerattempted" ng-click='answerQuestion("#choice1", true)'>Gravity
    <i class= "icon-right ion-checkmark-circled balanced" id="correctsign"></i></button>
    </div>
    <div class="col"><button class=" choiceitem" id="choice2" ng-disabled="answerattempted" ng-click='answerQuestion("#choice2", false)'>A rope
    <i class="icon-right ion-close-circled assertive" id="incorrectsign"></i></button>
    </div>
    </div>
    </script>

<script type="text/ng-template" id="page3_question">
    <h1 id="pagetext">Does gravity causes everything to fall to ground?</h1>
    <div class="row">
    <div class="col"><button class=" choiceitem" id="choice1" ng-disabled="answerattempted" ng-click='answerQuestion("#choice1", false)'>No
    <i class="icon-right ion-close-circled assertive" id="incorrectsign"></i></button></div>
    <div class="col"><button class=" choiceitem" id="choice2" ng-disabled="answerattempted" ng-click='answerQuestion("#choice2", true)'>Yes
    <i class= "icon-right ion-checkmark-circled balanced" id="correctsign"></i></button></div>
    </div>
    </script>

<script type="text/ng-template" id="page4_question">
    <h1 id="pagetext">Do gravity causes objects to fall faster?</h1>
    <div class="row">
    <div class="col"><button class=" choiceitem" id="choice1" ng-disabled="answerattempted" ng-click='answerQuestion("#choice1", true)'>Yes
    <i class= "icon-right ion-checkmark-circled balanced" id="correctsign"></i></button></div>
    <div class="col"><button class=" choiceitem" id="choice2" ng-disabled="answerattempted" ng-click='answerQuestion("#choice2", false)'>No
    <i class="icon-right ion-close-circled assertive" id="incorrectsign"></i></button></div>
    </div>
    </script>

<script type="text/ng-template" id="page5_question">
    <h1 id="pagetext">What falls down faster?</h1>
    <div class="row">
    <div class="col"><button class=" choiceitem" id="choice1" ng-disabled="answerattempted" ng-click='answerQuestion("#choice1", false)'>Feather
    <i class="icon-right ion-close-circled assertive" id="incorrectsign"></i></button></div>
    <div class="col"><button class=" choiceitem" id="choice2" ng-disabled="answerattempted" ng-click='answerQuestion("#choice2", true)'>Shoe
    <i class= "icon-right ion-checkmark-circled balanced" id="correctsign"></i></button></div>
    </div>
    </script>


<script type="text/ng-template" id="page6">
    <div id="quizpage">
    <a class="button button-clear" on-release="startQuiz()">
    <img ng-src="img/icon_quiz.jpg"/>
    </a>
    </div>
    </script>


