
<ion-modal-view class="modal">
    <ion-header-bar align-title= "center" class= "bar bar-stable">
        <h1 class="title">Help</h1>
        
        <a class="button button-clear icon ion-reply pull-right" ng-click="closeModal('help')"></a>
    </ion-header-bar>
    <ion-content scroll="true" class= "has-header">
        
        
        <div class="list">
            
            <div class="item item-divider">
                About This App
            </div>
            
            <div class="item item-text-wrap" >
                The Special Scholars app provides age appropriate, academic lessons to children with special need or learning difficulties. The lessons are presented in a simple format and give a basic understanding of topics included in regular school curriculum. The lessons are categorized into 3 levels - Beginner, Advanced and Expert, roughly mapping to the academic levels of Grade 1 to Grade 5. Each chapter has a quiz at the end. The quiz questions are built in a way such that the student can respond by choice making. The chapters and quizes are aimed at improving the receptive understanding of the child with age level content.
            </div>
            <div class="item item-divider">
                Add-Delete a Profile
            </div>
            
            <div class="item item-text-wrap" >
                At most 3 profiles can be created to work with 3 students at the same time. New profile can be added through Settings Menu/Add-Remove Profiles (Profiles dialog box). An existing profile can be deleted from the Profiles dialog box by long pressing the profile picture.
            </div>
            <div class="item item-divider">
                Select a Profile
            </div>
            
            <div class="item item-text-wrap">
               Profiles can be switched by selecting the desired profile from Setting Menu/Select Profile. The Selected profile avatar is displayed on the home page.
            </div>

            <div class="item item-divider">
                Record Progress
            </div>
            
            <div class="item item-text-wrap">
                Each chapter ends with a quiz. On completion of the quiz, the results can be saved in the student's profile. A profile should previously be selected, to be able to save and view the progress report in the progress tracker. An ongoing quiz can be skipped at any time without saving the results.
            </div>
            <div class="item item-divider">
                View Progress
            </div>
            
            <div class="item item-text-wrap">
               Progress of a student can be viewed in the progress tracker page. Click the left hand corner avatar of the profile to view the progress tracker. For each chapter, a maximum of last 5 quiz results are displayed in the progress tracker
            </div>
            
            
        </div>
        
    </ion-content>
</ion-modal-view>
