<div id="startbtndiv"><a class="button  button-dark " id="start" ng-click="start(); $event.stopPropagation();"> Start Lesson </a></div>
<div id="content">
    <ng-include src= "pagenumber"></ng-include>
    
    <input type="text" id="totalpages" ng-value="7"></input>
    <div id="or_text" >or</div>
    <div id="incorrect_text" >incorrect</div>
    
    <ion-spinner class= "spinner-dark" id="spinner" ></ion-spinner>
    
    
</div>
<script type="text/ng-template" id="page1">
    <h1 class= "textclass" id="pagetext1">Do you know what germs are?</h1><h1 class= "textclass" id="pagetext2" >Germs are tiny living creatures that can make us sick.</h1>
    <h1 class= "textclass" id="pagetext3" >They are so tiny, that we cannot see them with our eyes.</h1>
    <div class="row">
    <div class="col page_img_col"><img class ="page_img" ng-src="{{imgsrc}}germs_page1.jpg"/></div
    </script>
<script type="text/ng-template" id="page2">
    <h1 class= "textclass" id="pagetext1">Germs are everywhere, especially in damp and dirty places.</h1>
    <h1 class= "textclass" id="pagetext2">Some of their favourite places are toilet, dirty floors, and garbage bins.</h1>
    <div class="row">
    <div class="col page_img_col"><img class ="page_img" src="{{imgsrc}}germs_page2.jpg"/></div>
    </script>


<script type="text/ng-template" id="page3">
    <h1 class= "textclass" id="pagetext1">Germs can reach us easily when we touch dirty surfaces.</h1><h1 class= "textclass" id="pagetext2">They can also spread by coughing and sneezing.</h1>
    <div class="row">
    <div class="col page_img_col"><img class ="page_img" src="{{imgsrc}}germs_page3.jpg"/></div>
    </script>



<script type="text/ng-template" id="page4">
    <h1 class= "textclass" id="pagetext1">When bad germs reach inside our body, we can get really sick.</h1>
    <h1 class= "textclass" id="pagetext2">But we can follow some rules to stop spreading of germs.</h1>
    <div class="row">
    <div class="col page_img_col"><img class ="page_img" src="{{imgsrc}}germs_page4.jpg"/></div>
    </script>

<script type="text/ng-template" id="page5">
    <h1 class= "textclass" id="pagetext1">We can wash hands before eating, and after using bathroom.</h1>
    <h1 class= "textclass" id="pagetext2">We can also wash hands after blowing our nose, coughing, or sneezing.</h1>
    <h1 class= "textclass" id="pagetext3">It is important to cover our face while coughing.</h1>
    <div class="row">
    <div class="col page_img_col"><img class ="page_img" src="{{imgsrc}}germs_page5.jpg"/></div>
    </script>
<script type="text/ng-template" id="page6">
    <h1 class= "textclass" id="pagetext1">We can cut our nails to stop germs from growing. </h1>
    <h1 class= "textclass" id="pagetext2">This way we can stay away from germs and be healthy.</h1>
    <div class="row">
    <div class="col page_img_col"><img class ="page_img" src="{{imgsrc}}germs_page6.jpg"/></div>
    </script>
<script type="text/ng-template" id="page1_question">
    <h1 id="pagetext">Can you see germs?</h1>
    <div class="row">
    <div class="col"><button class=" choiceitem" id="choice1" ng-disabled="answerattempted" ng-click='answerQuestion("#choice1", false)'>Yes
    <i class="icon-right ion-close-circled assertive" id="incorrectsign"></i>
    </button></div>
    <div class="col"><button class=" choiceitem" id="choice2" ng-disabled="answerattempted" ng-click='answerQuestion("#choice2", true)'>No
    <i class= "icon-right ion-checkmark-circled balanced" id="correctsign"></i>
    </button></div>
    </div>
    </script>

<script type="text/ng-template" id="page2_question">
    <h1 id="pagetext">Do germs live in toilets?</h1>
    <div class="row">
    <div class="col"><button class=" choiceitem" id="choice1" ng-disabled="answerattempted" ng-click='answerQuestion("#choice1", false)'>No
    <i class="icon-right ion-close-circled assertive" id="incorrectsign"></i></button></div>
    <div class="col"><button class=" choiceitem" id="choice2" ng-disabled="answerattempted" ng-click='answerQuestion("#choice2", true)'>Yes
    <i class= "icon-right ion-checkmark-circled balanced" id="correctsign"></i></button></div>
    </div>
    </script>

<script type="text/ng-template" id="page3_question">
    <h1 id="pagetext">How do germs spread?</h1>
    <div class="row">
    <div class="col"><button class=" choiceitem" id="choice1" ng-disabled="answerattempted" ng-click='answerQuestion("#choice1", true)'>Coughing
    <i class= "icon-right ion-checkmark-circled balanced" id="correctsign"></i></button>
    </div>
    <div class="col"><button class=" choiceitem" id="choice2" ng-disabled="answerattempted" ng-click='answerQuestion("#choice2", false)'>Singing
    <i class="icon-right ion-close-circled assertive" id="incorrectsign"></i></button>
    </div>
    </div>
    </script>
<script type="text/ng-template" id="page4_question">
    <h1 id="pagetext">Germs make us</h1>
    <div class="row">
    <div class="col"><button class=" choiceitem" id="choice1" ng-disabled="answerattempted" ng-click='answerQuestion("#choice1", true)'>Sick
    <i class= "icon-right ion-checkmark-circled balanced" id="correctsign"></i></button>
    </div>
    <div class="col"><button class=" choiceitem" id="choice2" ng-disabled="answerattempted" ng-click='answerQuestion("#choice2", false)'>Happy
    <i class="icon-right ion-close-circled assertive" id="incorrectsign"></i></button>
    </div>
    </div>
    </script>

<script type="text/ng-template" id="page5_question">
    <h1 id="pagetext">What can you do to stop germs?</h1>
    <div class="row">
    <div class="col"><button class=" choiceitem" id="choice1" ng-disabled="answerattempted" ng-click='answerQuestion("#choice1", true)'>Wash hands
    <i class= "icon-right ion-checkmark-circled balanced" id="correctsign"></i></button></div>
    <div class="col"><button class=" choiceitem" id="choice2" ng-disabled="answerattempted" ng-click='answerQuestion("#choice2", false)'>Punch them
    <i class="icon-right ion-close-circled assertive" id="incorrectsign"></i></button></div>
    </div>
    </script>
<script type="text/ng-template" id="page6_question">
    <h1 id="pagetext">Should you cut your nails regularly?</h1>
    <div class="row">
    <div class="col"><button class=" choiceitem" id="choice1" ng-disabled="answerattempted" ng-click='answerQuestion("#choice1", true)'>Yes
    <i class= "icon-right ion-checkmark-circled balanced" id="correctsign"></i></button></div>
    <div class="col"><button class=" choiceitem" id="choice2" ng-disabled="answerattempted" ng-click='answerQuestion("#choice2", false)'>No
    <i class="icon-right ion-close-circled assertive" id="incorrectsign"></i></button></div>
    </div>
    </script>
<script type="text/ng-template" id="page7">
    <div id="quizpage">
    <a class="button button-clear" on-release="startQuiz()">
    <img ng-src="img/icon_quiz.jpg"/>
    </a>
    </div>
    </script>


