<div id="startbtndiv"><a class="button  button-dark " id="start" ng-click="start(); $event.stopPropagation();"> Start Lesson </a></div>
<div id="content">
    <ng-include src= "pagenumber"></ng-include>
    
    <input type="text" id="totalpages" ng-value="7"></input>
    <div id="or_text" >or</div>
    <div id="incorrect_text" >incorrect</div>
    
    <ion-spinner class= "spinner-dark" id="spinner" ></ion-spinner>
    
    
</div>
<script type="text/ng-template" id="page1">
    <h1 class= "textclass" id="pagetext1">Have you ever seen an ocean? </h1> <h1 class= "textclass" id="pagetext2">You can see the ocean when you visit the beach.</h1>
    <div class="row">
    <div class="col page_img_col"><img class ="page_img" ng-src="{{imgsrc}}ocean_page1.jpg"/></div
    </script>

<script type="text/ng-template" id="page2">
    <h1 class= "textclass" id="pagetext1">Most of the earth is covered with oceans. </h1><h1 class= "textclass" id="pagetext2">Oceans are large bodies of salt water.</h1>
    <div class="row">
    <div class="col page_img_col"><img class ="page_img" src="{{imgsrc}}ocean_page2.png"/></div>
    </script>

<script type="text/ng-template" id="page3">
    <h1 class= "textclass" id="pagetext">There are four major oceans - Atlantic, Pacific, Indian, and Artic.</h1>
    <div class="row">
    <div class="col page_img_col"><img class ="page_img" src="{{imgsrc}}ocean_page3.jpg"/></div>
    </script>

<script type="text/ng-template" id="page4">
    <h1 class= "textclass" id="pagetext1">oceans have many animals and plants. </h1><h1 class= "textclass" id="pagetext2">Some animals are very small and some can be very big.</h1>
    <div class="row">
    <div class="col page_img_col"><img class ="page_img" src="{{imgsrc}}ocean_page4.jpg"/></div>
    </script>

<script type="text/ng-template" id="page5">
    <h1 class= "textclass" id="pagetext">There are animals like dolphins, whales, jellyfish, turtles, and many types of fishes. </h1>
    <div class="row">
    <div class="col page_img_col"><img class ="page_img" src="{{imgsrc}}ocean_page5.jpg"/></div>
    </script>
<script type="text/ng-template" id="page6">
    <h1 class= "textclass" id="pagetext">The place where ocean meets the land is called shore. </h1>
    <div class="row">
    <div class="col page_img_col"><img class ="page_img" src="{{imgsrc}}ocean_page6.jpg"/></div>
    </script>


<script type="text/ng-template" id="page1_question">
    <h1 id="pagetext">What is ocean made of?</h1>
    <div class="row">
    <div class="col"><button class=" choiceitem" id="choice1" ng-disabled="answerattempted" ng-click='answerQuestion("#choice1", true)'>Water
    <i class= "icon-right ion-checkmark-circled balanced" id="correctsign"></i></button>
    </div>
    <div class="col"><button class=" choiceitem" id="choice2" ng-disabled="answerattempted" ng-click='answerQuestion("#choice2", false)'>Pebbles
    <i class="icon-right ion-close-circled assertive" id="incorrectsign"></i></button>
    </div>
    </div>
    </script>

<script type="text/ng-template" id="page2_question">
    <h1 id="pagetext">Ocean water is</h1>
    <div class="row">
    <div class="col"><button class=" choiceitem" id="choice1" ng-disabled="answerattempted" ng-click='answerQuestion("#choice1", true)'>Salty
    <i class= "icon-right ion-checkmark-circled balanced" id="correctsign"></i></button>
    </div>
    <div class="col"><button class=" choiceitem" id="choice2" ng-disabled="answerattempted" ng-click='answerQuestion("#choice2", false)'>Sweet
    <i class="icon-right ion-close-circled assertive" id="incorrectsign"></i></button>
    </div>
    </div>
    </script>

<script type="text/ng-template" id="page3_question">
    <h1 id="pagetext">How many oceans are there?</h1>
    <div class="row">
    <div class="col"><button class=" choiceitem" id="choice1" ng-disabled="answerattempted" ng-click='answerQuestion("#choice1", false)'>20
    <i class="icon-right ion-close-circled assertive" id="incorrectsign"></i></button></div>
    <div class="col"><button class=" choiceitem" id="choice2" ng-disabled="answerattempted" ng-click='answerQuestion("#choice2", true)'>4
    <i class= "icon-right ion-checkmark-circled balanced" id="correctsign"></i></button></div>
    </div>
    </script>

<script type="text/ng-template" id="page4_question">
    <h1 id="pagetext">Do oceans have plants?</h1>
    <div class="row">
    <div class="col"><button class=" choiceitem" id="choice1" ng-disabled="answerattempted" ng-click='answerQuestion("#choice1", true)'>Yes
    <i class= "icon-right ion-checkmark-circled balanced" id="correctsign"></i></button></div>
    <div class="col"><button class=" choiceitem" id="choice2" ng-disabled="answerattempted" ng-click='answerQuestion("#choice2", false)'>No
    <i class="icon-right ion-close-circled assertive" id="incorrectsign"></i></button></div>
    </div>
    </script>

<script type="text/ng-template" id="page5_question">
    <h1 id="pagetext">Which animal lives in ocean?</h1>
    <div class="row">
    <div class="col"><button class=" choiceitem" id="choice1" ng-disabled="answerattempted" ng-click='answerQuestion("#choice1", false)'>Cow
    <i class="icon-right ion-close-circled assertive" id="incorrectsign"></i></button></div>
    <div class="col"><button class=" choiceitem" id="choice2" ng-disabled="answerattempted" ng-click='answerQuestion("#choice2", true)'>Shark
    <i class= "icon-right ion-checkmark-circled balanced" id="correctsign"></i></button></div>
    </div>
    </script>
<script type="text/ng-template" id="page6_question">
    <h1 id="pagetext">Where does the ocean meet the land?</h1>
    <div class="row">
    <div class="col"><button class=" choiceitem" id="choice1" ng-disabled="answerattempted" ng-click='answerQuestion("#choice1", false)'>Road
    <i class="icon-right ion-close-circled assertive" id="incorrectsign"></i></button></div>
    <div class="col"><button class=" choiceitem" id="choice2" ng-disabled="answerattempted" ng-click='answerQuestion("#choice2", true)'>Shore
    <i class= "icon-right ion-checkmark-circled balanced" id="correctsign"></i></button></div>
    </div>
    </script>

<script type="text/ng-template" id="page7">
    <div id="quizpage">
    <a class="button button-clear" on-release="startQuiz()">
    <img ng-src="img/icon_quiz.jpg"/>
    </a>
    </div>
    </script>


